<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<!-- Укажите тот же Server и Database, где в SSMS созданы таблицы. Шаблон: App.config.example -->
	<connectionStrings>
		<add name="StudentDb"
             connectionString="Server=rin\SQLEXPRESS;Database=pm4students67;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
